// 全局变量

/* =================================================================
  颜色
  ================================================================= */
$primary: #2778fd;
$success: #60ad1d;
$error: #d6205c;
$warning: #e6a23c;
$info: #009fcc;
$white: #fff;
$black: #000;
$gray: #7f8593;
$page-bg-color: #f9f9f9;
$border-color: #e6ebed;
